body {
    background-color: #1b262c;
    font-family: verdana;
    text-align: center;
  }

h1 {
    padding-top: 100px;
    color: white;
}
.h {
    width: 50%;
    padding: 12px 20px;
    margin: 18px 0;
    display: inline-block;
    border: 1px solid rgb(179, 186, 255);
    border-radius: 114px;
    box-sizing: border-box;
    background-color: rgb(54, 65, 128);
    color: white;
  }
  
#showanchor {
    
    width: 50%;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    
    border: none;
    border-radius: 114px;
    cursor: pointer;
  }
  
