<h1> Log in Here! </h1>

<form method="post" action="">
    <label for="email"> Email: </label>
    <input type="text" id="email" name="email">
    <label for="password"> Password: </label>
    <input type="text" id="password" name="name">
    <input type="submit" value="Submit">
</form>