





  <head>
    <meta charset="UTF-8">
    <title>My Characters</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>

  <body>
    <header>
      <h1>My Characters</h1>

      <nav>
        <a href="index.html">Home</a> <a href="">New Character</a> <a href="">Log out</a> 
      </nav>
    </header>

    <section id="character-list">
      <p>Create your character here!</p>

      <p>
      
      <table id="character-data">
      <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Race</th>
      </tr>
      <% @characters.each do |c| %>
      <tr>
        <td><a href="/characters/<%=c.id%>"><%= c.name %></a></td>
        <td><%= c.character_class %></td>
        <td><%= c.race %></td>
      </tr>
      <% end %>
    </table>



      
        
     
      </p>
    </section>

     
      <ul class="bot_nav">
      <li><br>Contact me here!<p> <a href="mailto:michael.martinez2707@gmail.com">michael.martinez2707@gmail.com</a><br></p></li>
      <li><br>Github page<p><a href="#" target="_blank">Github</a><br></p></li>
      <li><br>Follow <p><a href="#" target="_blank">Twitch</a><a href="#" target="_blank">Tiktok</a><br> </p></li>
</ul>



      </body>
  

