<head>
    <meta charset="UTF-8">
    <title>My Characters</title>
    <link rel="stylesheet" type="text/css" href="../css/characters/new.css">
  </head>


<h1> Create a character! </h1>


<div class="formstyle">
<form action="/characters" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name">

  <label for="race">Race: </label>
  <input type="text" name="race" id="race">

  <label for="class">Class: </label>
  <input type="text" name="character_class" id="character_class">

  <input type="submit" value="Submit">
</form>

</div>